@import url("https://fonts.googleapis.com/css2?family=Poppins");


:root {
    --r-background-color: #F1EDE3;
    --r-main-color: #111012;
    --r-main-font: 'Poppins';
}

body {
    &::after {
        content: url("../images/logo_event.png");
        position: fixed;
        left: 4px;
        bottom: 9px;
        width: 100px;
    }




    .reveal {
        h1 {
            position: fixed;
            max-width: 500px;
            top: -19px;
            text-shadow: -1px 0 #1BC1E4, 0 1px #1BC1E4, 1px 0 #1BC1E4, 0 -1px #1BC1E4;
            line-height: 0.9;
            /*display: none;*/

        }

        ul {
            list-style-type: none;
        }

        .progress {
            color: #7FBDAD;
            height: 7px;
        }

    }


    .slide-background.conclusion {
        background: no-repeat center/80% url("../images/conclusion.jpg");
    }


    .light h2 {
        color: var(--r-background-color);
        -webkit-text-stroke: 2px black;
        text-stroke: 2px black;
        font-size: var(--r-heading2-size);
    }


    .transparency.slide-background.present {
        opacity: 0.60;
    }

    .big {
        font-size: 60px;
        color: #012d3f;
    }

    .use-case {
        font-family: "Gochi Hand", serif;
    }

    .red {
        color: #111012;
    }

    img {
        border-radius: 10px;
    }

    .vertical-align-middle > p {
        vertical-align: middle;
    }

    .vertical-align-middle > p > span {
        vertical-align: middle;
        margin: 0;
    }

    .vertical-align-middle > p > span > img {
        vertical-align: middle;
        margin: 0;
    }

    .important-text > * {
        font-size: xxx-large;
        font-weight: bold;
        color: #012d3f;
    }

    .small {
        font-size: small;
    }

    .medium {
        font-size: 38px;
    }

    .column.has-text-right > div > div.hdlist.small > table {
        margin-right: 0;
    }

    .column.has-text-left > div > div.hdlist.small > table {
        margin-left: 0;
    }

    section {
        .lesson::before {
            content: url("../images/permis_de_refactoring.png");
        }

    }

    .blur {
        filter: blur(4px);
    }

    .chercher_remplacer {
        position: fixed;
        top: 36px;
        left: 710px;
    }

    .regexp {
        position: fixed;
        top: 36px;
        left: 261px;
    }

    .llm {
        position: fixed;
        top: 355px;
        left: 261px;
    }

    .click_droit {
        position: fixed;
        top: 335px;
        left: 656px;
        overflow: hidden;
    }

    li {
        list-style-type: none;
    }

    audio {
        display: none;
    }

    .down {
        position: relative;
        bottom: -600px;
    }
}